@model IEnumerable<BacHa.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>FullName</th>
            <th>IsActive</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.FullName</td>
            <td>@item.IsActive</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
